

@model DN_lab.Models.Student
<style>
    body {
        font-family: "Microsoft JhengHei";
    }
</style>

<h2>編輯 Student資料</h2>
<br />
<form method="post" action="/Student/EditStudent">
    <div class="form-group row" hidden>
        <lable for="inputCharName" class="col-sm-2">卡片編號</lable>
        <div class="col-sm-10">
            <input type="text" id="inputStudentId" name="Student_Id" class="form-control" value="@Model.Student_Id" />
        </div>
    </div>
    <div class="form-group row">
        <lable for="inputCharName" class="col-sm-2">姓名</lable>
        <div class="col-sm-10">
            <input type="text" id="inputStName" name="St_Name" value="@Model.St_Name" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <lable for="inputCardName" class="col-sm-2">畢業學年</lable>
        <div class="col-sm-10">
            <input type="text" id="inputStYear" name="St_Year" value="@Model.St_Year" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <lable for="inputCardLevel" class="col-sm-2">論文名稱</lable>
        <div class="col-sm-10">
            <input type="text" id="inputStPaper" name="St_Paper" value="@Model.St_Paper" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <lable for="inputCardName" class="col-sm-2">學校及系所</lable>
        <div class="col-sm-10">
            <input type="text" id="inputStYear" name="St_School" value="@Model.St_School" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <lable for="inputCardLevel" class="col-sm-2">學級</lable>
        <div class="col-sm-10">
            <input type="text" id="inputStPaper" name="St_Type" value="@Model.St_Type" class="form-control" />
        </div>
    </div>
    <input class="btn btn-default" type="submit" value="儲存" />
</form>
